{% if token %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-logo">
        <img src="{{ logo }}" class="img-response"  alt="AgentFire"/>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container-fuild container-agentfire">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-search-tags">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <div id="tags">
                    <ul id="tags-ul">
                        {% if tags %}
                            {% for tag in tags %}
                                <li>
                                    <input class="slug-tag" type="checkbox" name="options" value="{{ tag.slug }}" />
                                    <label>{{ tag.name }} ({{ tag.count }})</label>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col-sm-8">
                <div id='map' style='width: 95%; height: 600px;'></div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="newmark" tabindex="-1" aria-labelledby="newmark" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Mark</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">

                            <form id="form-new-mark">
                                <input type="hidden" name="mark_lng" id="mark_lng" value="">
                                <input type="hidden" name="mark_lat" id="mark_lat" value="">
                                <div class="input-group mb-3">
                                    <input class="form-control" name="namemark" id="namemark" placeholder="Name" required>
                                </div>

                                {% if tags %}
                                    <div class="input-group mb-3">
                                        <select class="form-control js-example-basic-single form-select form-select-sm" name="tag" id="tag">
                                            {% for tag in tags %}
                                                <option value="{{ tag.slug }}">{{  tag.name }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                    <div class="mb-3">
                                        <small id="emailHelp" class="form-text text-muted">Add more tags on custom post type</small>
                                    </div>
                                {% else %}
                                    <div class="input-group mb-3">
                                        <select class="form-control js-example-basic-single form-select form-select-sm" name="tag" id="tag">
                                            <option value="default">Default</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <small id="emailHelp" class="form-text text-muted">Add more tags on custom post type</small>
                                    </div>
                                {% endif %}
                                <div class="alert alert-success" role="alert">
                                    Successful
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="save_mark">Save</button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        mapboxgl.accessToken = '{{token}}';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-96, 37.8],
            zoom: 1
        });
    </script>
{% else %}
    <script>
        alert('System Error. Please contact administrator')
    </script>
{% endif %}
